[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
statsmodels = "*"
seaborn = "*"
pickle = "*"
imblearn = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
