<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Frailty Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="age" placeholder="Age" required="required" /><br>
    	<input type="text" name="sex" placeholder="Sex (1 = Male, 2 = Female)" required="required" /><br>
        <input type="text" name="stat" placeholder="stat" required="required" /><br>
        <input type="text" name="HT" placeholder="HT" required="required" /><br>
        <input type="text" name="lipid" placeholder="lipid" required="required" /><br>
        <input type="text" name="BMI" placeholder="BMI" required="required" /><br>
        <input type="text" name="waistcir" placeholder="waistcir" required="required" /><br>
        <input type="text" name="calfcir" placeholder="calfcir" required="required" /><br>
        <input type="text" name="exhaustion" placeholder="exhaustion" required="required" /><br>

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>